PassengerEnabled on
PassengerAppRoot /home/u182510996/swara_aqua/backend
PassengerStartupFile app.js
PassengerAppType node
PassengerNodejs /usr/bin/node

# Serve everything through Passenger
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
